<!-- <p>
  pet-edit works!
</p> -->
<div id="container">
  <!-- Edit Pet Box -->
  <div id="wrapper">
    <!-- Edit Pet Form -->
    <div id="edit-pet">
      <!-- <div id="back">
        <a (click)="removeMessage()" routerLink="/bill" class="back">Go Back</a>
        <br>
      </div> -->
        <form (ngSubmit)="updatePet(updatedPet)" ngNativeValidate>
          <!-- <div *ngIf="petService.updatePetFailure" class="failure">
            <h5>This pet could not be updated.</h5>
          </div> -->
          <h1>Edit Pet</h1>
          <br><label for="petName">Name:</label><br>
          <input name="petName" [(ngModel)]="updatedPet.petName" id="update-name" size="20" maxlength="20"><br>
          <br><label for="petChipTag">Chip Tag:</label><br>
          <input name="petChipTag" [(ngModel)]="updatedPet.petChipTag" id="update-chipTag" size="20" maxlength="10" readonly><br>
          <br><label for="petRabiesTag">Rabies Tag:</label><br>
          <input name="petRabiesTag" [(ngModel)]="updatedPet.petRabiesTag" id="update-rabiesTag" size="20" maxlength="10" readonly><br>
          <br><label for="petDesc">Description:</label><br>
          <input name="petDesc" [(ngModel)]="updatedPet.petDesc" id="update-desc" size="20" maxlength="20" required/><br>
          <br><label for="petBreed">Breed:</label><br>
          <input name="petBreed" [(ngModel)]="updatedPet.petBreed" id="update-breed" size="20" maxlength="10"><br>
          <br><label for="petSize">Size:</label><br>
          <input name="petSize" [(ngModel)]="updatedPet.petSize" id="update-size" size="20" maxlength="10" required/><br>
          <br><label for="petColor">Color:</label><br>
          <input name="petColor" [(ngModel)]="updatedPet.petColor" id="update-color" size="20" maxlength="20" required/><br>
          <br><label for="petType">Type:</label><br>
          <div>
            <!-- <select name="petType" [(ngModel)]="updatedPet.petType" value="{{petResults}}" id="update-type" width="20" maxlength="11" required> -->
            <!-- <select name="petType" [(ngModel)]="updatedPet.petType" value="{{this.petResults}}" id="update-type" width="20" maxlength="11" required> -->
            <select name="petType" [(ngModel)]="updatedPet.petType" [value]="this.petResults" id="update-type" width="20" maxlength="11" required>
            <!-- <select name="petType" [(ngModel)]="{{this.petResults}}" id="update-type" width="20" maxlength="11" required> -->
              <option disabled selected value> -- Select a Pet Type -- </option>
              <!-- <option [ngValue]="CAT"></option> -->
              <!-- <option value='result.petType.petSpecies'></option> -->
              <option value="DOG">Dog</option>
              <option value="CAT">Cat</option>
              <option value="REPTILE">Reptile</option>
              <option value="FARM ANIMAL">Farm Animal</option>
              <option value="BIRD">Bird</option>
              <option value="OTHER">Other</option>
            </select>
          </div>
          <br><label for="petStatus">Status:</label><br>
          <div>
            <select name="petStatus" [(ngModel)]="updatedPet.petStatus" id="update-status" width="20" maxlength="8" required>
              <option disabled selected value> -- Select a Pet Status -- </option>
              <option value="LOST">Lost</option>
              <option value="FOUND">Found</option>
              <option value="SIGHTED">Sighted</option>
              <option value="RETURNED">Returned</option>
            </select>
          </div>
          <br>
          <br>
          <p class="submit button">
            <input type="submit" value="Edit"/>
          </p>
        </form>
      </div><!--/ edit-pet-->
    </div><!--/ wrapper-->
  </div><!--/ container-->
