<!-- <p>
  location-edit works!
</p> -->
<div id="container">
  <!-- Edit Location Box -->
  <div id="wrapper">
    <!-- Edit Location Form -->
    <div id="edit-location">
      <!-- <div id="back">
        <a (click)="removeMessage()" routerLink="/bill" class="back">Go Back</a>
        <br>
      </div> -->
        <form (ngSubmit)="updateLocation(updatedLocation)" ngNativeValidate>
          <div *ngIf="locationService.updateLocationFailure" class="failure">
            <h5>This location could not be updated.</h5>
          </div>
          <h1>Edit Location</h1>
          <br><label for="locName">Name:</label><br>
          <input name="locName" [(ngModel)]="updatedLocation.locName" id="update-name" size="20" maxlength="20" required/><br>
          <br><label for="locCity">City:</label><br>
          <input name="locCity" [(ngModel)]="updatedLocation.locCity" id="update-city" size="20" maxlength="20"><br>
          <br><label for="locState">State:</label><br>
          <input name="locState" [(ngModel)]="updatedLocation.locState" id="update-state" size="20" maxlength="2"><br>
          <br><label for="locZip">Zip Code:</label><br>
          <input name="locZip" [(ngModel)]="updatedLocation.locZip" id="update-zip" size="20" maxlength="5"><br>
          <br><label for="locDesc">Description:</label><br>
          <input name="locDesc" [(ngModel)]="updatedLocation.locDesc" id="update-desc" size="20" maxlength="20"><br>
          <br><label for="locLat">Latitude:</label><br>
          <input name="locLat" [(ngModel)]="updatedLocation.locLat" id="update-lat" size="20" maxlength="20"><br>
          <br><label for="locLong">Longtitude:</label><br>
          <input name="locLong" [(ngModel)]="updatedLocation.locLong" id="update-long" size="20" maxlength="20"><br>
          <!-- locInd = "1" must be included in the service for output -->
          <br>
          <br>
          <p class="submit button">
            <input type="submit" value="Edit"/>
          </p>
        </form>
      </div><!--/ edit-bill-->
    </div><!--/ wrapper-->
  </div><!--/ container-->
