<!-- <p>
  user-new works!
</p> -->
<div id="container">
  <!-- Create User Box -->
  <div id="wrapper">
    <!-- Create User Form -->
    <div id="add-user">
      <div id="back">
        <a (click)="removeMessage()" routerLink="/user" class="back">Go Back</a>
        <br>
      </div>
        <form (ngSubmit)="saveUser(newUser)" ngNativeValidate>
          <div *ngIf="userService.createUserSuccess" class="success">
            <h5>The system user has successfully been added.</h5>
          </div>
          <div *ngIf="userService.createUserFailure" class="failure">
            <h5>This new system user failed to be added.</h5>
          </div>
          <h1>New System User</h1>
          <label for="userFirstName">First Name:</label><br>
          <input name="userFirstName" [(ngModel)]="newUser.userFirstName" id="new-first-name" size="20" maxlength="20" placeholder="First Name" required/><br>
          <br><label for="userLastName">Last Name:</label><br>
          <input name="userLastname" [(ngModel)]="newUser.userLastName" id="new-last-name" size="20" maxlength="20" placeholder="Last Name" required/><br>
          <br><label for="userLogin">Login:</label><br>
          <input name="userLogin" [(ngModel)]="newUser.userLogin" id="new-login" size="20" maxlength="15" placeholder="Login" required/><br>
          <br><label for="userPassword">Password:</label><br>
          <input name="userPassword" [(ngModel)]="newUser.userPassword" type="password" id="new-password" size="20" maxlength="15" placeholder="Password" required/><br>
          <br><label for="userCity">City:</label><br>
          <input name="userCity" [(ngModel)]="newUser.userCity" id="new-city" size="20" maxlength="20" placeholder="City" required/><br>
          <br><label for="userState">State:</label><br>
          <input name="userState" [(ngModel)]="newUser.userState" id="new-state" size="20" maxlength="2" placeholder="State" required/><br>
          <br><label for="userZip">Zip Code:</label><br>
          <input name="userZip" [(ngModel)]="newUser.userZip" id="new-zip" size="20" maxlength="5" placeholder="Zip Code"><br>
          <br><label for="userEmail">Email Address:</label><br>
          <input name="userEmail" [(ngModel)]="newUser.userEmail" id="new-email" size="20" maxlength="20" placeholder="Email" required/><br>
          <br><label for="userAltEmail">Alternate Email:</label><br>
          <input name="userAltEmail" [(ngModel)]="newUser.userAltEmail" id="new-altEmail" size="20" maxlength="20" placeholder="Alternate Email"><br>
          <!-- <br><label for="userMobile">Mobile Phone:</label><br>
          <input [textMask]="{mask: mask}" [(ngModel)]="newUser.mobile" type="text" name="userMobile" placeholder=""/><br> -->
          <br><label for="userMobile">Mobile Phone:</label><br>
          <input name="userMobile" [(ngModel)]="newUser.userMobile" id="new-mobile" size="20" maxlength="14" placeholder="1234567890"><br>
          <br><label for="userAltPhone">Alternate Phone:</label><br>
          <input name="userAltPhone" [(ngModel)]="newUser.userAltPhone" id="new-altPhone" size="20" maxlength="14" placeholder="1234567890"><br>
          <br>
          <br>
          <p class="submit button">
            <input type="submit" value="Add"/>
          </p>
        </form>
      </div><!--/ create-user-->
    </div><!--/ wrapper-->
  </div><!--/ container-->
